html,body{
  margin:0px; 
  height:100%;
  padding:0px;
}

body {
  overflow-y: hidden;
  overflow-x: auto;
}

#header, #footer, #left, #main, #right {
}

#header, #footer, #main {
  overflow: hidden;
}

#left, #main-inner, #right {
  overflow: auto;
}

#main-inner {
  border-style: solid;
  border-color: #000;
}

#header {
  background-color: red;
}

#left {
  background-color: green;
}

#main {
  background-color: orange;
  z-index: 0;
}

#right {
  background-color: gray;
  z-index: 1;
}

#footer {
  background-color: purple;
}